version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - "5000:5000"
    networks:
      - ecommerce-net

  frontend:
    build: ./frontend
    ports:
      - "80:80"
    networks:
      - ecommerce-net

networks:
  ecommerce-net:
    driver: bridge